## How to Read and Write the Excel Files using Pandas
One crucial feature of Pandas is its ability to write and read Excel, CSV, and many other types of files.

1. CSV Files(Comma Separated Values)
2. Text Delimited files
3. Excel Files (xls, xlsx)
4. <b>JSON Files</b>
5. HTML Files
6. SQL Files(DataBase)

### Reference :
https://www.w3schools.com/js/js_json_intro.asp

https://www.tutorialspoint.com/json/json_overview.htm   

## Overview of JSON

### What is JSON?

* JSON stands for JavaScript Object Notation.
* It is a lightweight data-interchange format.
* It is "self-describing" and easy to understand.
* It is text, written with JavaScript object notation.
* The filename extension is .json

### Use of JSON

* It is primarily used to transmit data between a server and web applications.
* JSON data format can be used by any programming language.
* It is used while writing JavaScript based applications that includes browser extensions and websites.
* JSON format is used for serializing and transmitting structured data over network connection.
* Web services and APIs use JSON format to provide public data.

### JSON Syntax Rules
JSON syntax is derived from JavaScript object notation syntax:

* Data is in name(key)/value pairs(Like Dictionary concept in Python)
* Curly braces hold objects
* Data is separated by commas
* Square brackets hold arrays

### Sample JSON Data

In [1]:
{
    "name": "Vinoth R",
    "details": {
        "gender": "Male",
        "age": "32",
        "places_lived": ["India", "UK", "Belgium"],
        "address": {
            "streetaddress": "Besant Nagar",
            "city": "Chennai",
            "state": "TamilNAdu",
            "postalcode": "600100"}
          
        }
}

{'name': 'Vinoth R',
 'details': {'gender': 'Male',
  'age': '32',
  'places_lived': ['India', 'UK', 'Belgium'],
  'address': {'streetaddress': 'Besant Nagar',
   'city': 'Chennai',
   'state': 'TamilNAdu',
   'postalcode': '600100'}}}

To View the data : http://jsonviewer.stack.hu/

In [2]:
#importing the pandas and json packages
import pandas as pd
import json

In [3]:
# JSON Sample Data
raw_data = """
    {
    "name" : ["Anand", "Pranav", "Vinoth", "Kathick"],
    "empid": [456543,452341,457899,223450],
    "age":[27,21,30,29],
    "worklocation":["Chennai","Delhi","Hyderabad","Mumbai"]
    }
"""
# printing the data and checking the data type
print(raw_data)
print(type(raw_data))

    {
    "name" : ["Anand", "Pranav", "Vinoth", "Kathick"],
    "empid": [456543,452341,457899,223450],
    "age":[27,21,30,29],
    "worklocation":["Chennai","Delhi","Hyderabad","Mumbai"]
    }

<class 'str'>

### String to Dictionary Conversion

In [4]:
# loads is used to convert the string to dictionary data type
emp_details = json.loads(raw_data)

# printing the data and checking the data type
print(emp_details)
print(type(emp_details))

{'name': ['Anand', 'Pranav', 'Vinoth', 'Kathick'], 'empid': [456543, 452341, 457899, 223450], 'age': [27, 21, 30, 29], 'worklocation': ['Chennai', 'Delhi', 'Hyderabad', 'Mumbai']}
<class 'dict'>

### Search for the Value

In [5]:
emp_details['name']

['Anand', 'Pranav', 'Vinoth', 'Kathick']

In [6]:
emp_details['worklocation']

['Chennai', 'Delhi', 'Hyderabad', 'Mumbai']

In [7]:
emp_details['worklocation'][2]

'Hyderabad'

### Data Frame Creation

In [8]:
# Creating the data frame directly using the data 
df = pd.read_json(raw_data)
df

      name   empid  age worklocation
0    Anand  456543   27      Chennai
1   Pranav  452341   21        Delhi
2   Vinoth  457899   30    Hyderabad
3  Kathick  223450   29       Mumbai

## Data Frame Creation using JSON File

In [9]:
# Creating the data frame by directly reading the json file
my_file = 'C:\Video Tutorials\Python libraries\Pandas Code\Read and Write\JSON\Sample.json'
df = pd.read_json(my_file)
df

      name   empid  age worklocation
0    Anand  456543   27      Chennai
1   Pranav  452341   21        Delhi
2   Vinoth  457899   30    Hyderabad
3  Kathick  223450   29       Mumbai

### Dictionary to String Conversion

In [10]:
# dumps is used to convert dictionary to string data type
emp_details = json.dumps(raw_data)

# printing the data and checking the data type
print(emp_details)
print(type(emp_details))

"\n    {\n    \"name\" : [\"Anand\", \"Pranav\", \"Vinoth\", \"Kathick\"],\n    \"empid\": [456543,452341,457899,223450],\n    \"age\":[27,21,30,29],\n    \"worklocation\":[\"Chennai\",\"Delhi\",\"Hyderabad\",\"Mumbai\"]\n    }\n"
<class 'str'>

### Export to JSON File

In [11]:
# Export with orient='split' - JSON file will be in dict like format seperated based on columns, index and data 
df.to_json('C:\Video Tutorials\Python libraries\Pandas Code\Read and Write\JSON\EmpDetails.json',orient='split')

In [12]:
# Export with orient='split' - JSON file will be in list like format
df.to_json('C:\Video Tutorials\Python libraries\Pandas Code\Read and Write\JSON\EmpDetails2.json',orient='records')